<!DOCTYPE html>
<html lang="en" data-theme="dark">

<head>
  $--load_src--$("templates/custom/common-head.html")
  <title>$--article_title--$</title>
</head>

<body>
  <main class="container">
    $--load_src--$("templates/custom/blog-info.html")

    <article>
      <h1 class="article-title">$--article_title--$</h1>
      <div class="small-detail">$--article_author--$ • $--article_date_alt--$ • <a class="link-no-color"
          href="$--root_path--$/index.html">$--category_name--$</a></div>
      <br />
      $--article_contents--$
      $--article_nav_content--$
    </article>

    $--load_src--$("templates/custom/footer.html")
  </main>

  $--load_src--$("templates/custom/common-scripts.html")
</body>

</html>