<!DOCTYPE html>
<html lang="en" data-theme="dark">

<head>
  $-head_common-$
  <title>$--article_title--$</title>
</head>

<body>
  <main class="container">
    <div class="blog-info-container">
      <img class="blog-icon" src="$-blog_icon_url-$" alt="$-blog_icon_alt-$" />
      <div>
        <h2 class="blog-name">$-blog_name-$</h2>
        <h4 class="blog-desc">$-blog_desc-$</h4>
      </div>
    </div>

    <article id="article">
      <h1>$--article_title--$</h1>
      $--article_contents--$
    </article>

    $-footer-$
  </main>
</body>

</html>