<!DOCTYPE html>
<html lang="en" data-theme="dark">

<head>
  $-head_common-$
  <title>$-blog_name-$</title>
</head>

<body>
  <main class="container">
    <div class="blog-info-container">
      <img class="blog-icon" src="$-blog_icon_url-$" alt="$-blog_icon_alt-$" />
      <div>
        <h2 class="blog-name">$-blog_name-$</h2>
        <h4 class="blog-desc">$-blog_desc-$</h4>
      </div>
    </div>

    <article id="article">
      <h1>Introduction</h1>
      <p>
        I'm a guy who is fascinated by computers and graphics. I love how you
        can use shaders and a bit of math knowledge to produce great looking
        images that might look like real photos. I find it amazing how you can
        combine logic gates to build a device capable of executing any given
        series of instructions. I like how we can simulate interesting physical
        phenomena with a bit of coding.
      </p>
      <p>
        I made this blog to share the tiny amount of knowledge I've learned, and
        different projects that I work on. I might post about various other
        topics at times.
      </p>
      <p>
        Below is a list of all the articles I've written so far. Hope you learn
        something new here!
      </p>
      <button>Run Demo</button>
    </article>

    <article id="article">
      $--article_list--$
    </article>

    $-footer-$
  </main>
</body>

</html>