<!DOCTYPE html>
<html lang="en" data-theme="dark">

<head>
  $--load_src--$("templates/custom/head-common.html")
  <title>$-blog_name-$</title>
</head>

<body>
  <main class="container">
    $--load_src--$("templates/custom/blog-info.html")

    <article>
      <h1>Introduction</h1>
      <p>
        I'm a guy who is fascinated by computers and graphics. I love how you
        can use shaders and a little bit of math knowledge to produce great
        looking images that look like real photos. I find it amazing how you can
        combine logic gates to build a device capable of executing any given
        series of instructions. I like how we can simulate interesting physical
        phenomena with computers.
      </p>
      <p>
        I made this blog to share the tiny amount of knowledge I've learned and
        different projects I work on. I might post about various other topics at
        times.
      </p>
      <p>
        Below is a list of all the articles I've written so far. Hope you learn
        something new here!
      </p>
    </article>

    <article>
      $--article_list--$
    </article>

    $--load_src--$("templates/custom/footer.html")
  </main>
</body>

</html>