/* Deep-purple Dark scheme (Forced) */
/* Enabled if forced with data-theme="dark" */
[data-theme="dark"] {
  --primary: #5e35b1;
  --primary-hover: #673ab7;
  --primary-focus: rgba(94, 53, 177, 0.25);
  --primary-inverse: #FFF;
}

@font-face {
  font-family: Rubik;
  src: url(../fonts/Rubik/Rubik-VariableFont_wght.ttf);
}

@font-face {
  font-family: ElMessiri-Bold;
  src: url(../fonts/El_Messiri/static/ElMessiri-Bold.ttf);
}

@font-face {
  font-family: ElMessiri-SemiBold;
  src: url(../fonts/El_Messiri/static/ElMessiri-SemiBold.ttf);
}

:root {
  --font-family: Rubik, system-ui, sans-serif;
}

.blog-info-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  height: fit-content;
}

.blog-icon {
  height: 4.5rem;
  aspect-ratio: 1/1;
  margin-right: 1rem;
}

.blog-name {
  --font-family: ElMessiri-Bold, system-ui, sans-serif;
  margin-bottom: 0.1rem;
}

.blog-desc {
  --font-family: ElMessiri-SemiBold, system-ui, sans-serif;
  margin-bottom: 0.0rem;
}

* {
  --typography-spacing-vertical: 1.3rem !important;
}

.social-link {
  display: inline-block;
  margin-left: 0.7rem;
}

.social-icon {
  height: 1.7rem;
  aspect-ratio: 1/1;
}

.social-icon-long {
  height: 1.7rem;
  width: auto;
}