@font-face {
  font-family: Rubik;
  src: url(../fonts/Rubik/Rubik-VariableFont_wght.ttf);
}

@font-face {
  font-family: ElMessiri-Bold;
  src: url(../fonts/El_Messiri/static/ElMessiri-Bold.ttf);
}

@font-face {
  font-family: ElMessiri-SemiBold;
  src: url(../fonts/El_Messiri/static/ElMessiri-SemiBold.ttf);
}

:root {
  --pico-font-family: Rubik, system-ui, sans-serif;
  --pico-border-radius: 1rem;
}

* {
  --pico-typography-spacing-vertical: 1.4rem !important;
  --pico-line-height: 1.55;
  line-height: 1.55;
}

:root {
  --pico-font-size: 120%;
  --pico-block-spacing-vertical: 3rem;
  --pico-block-spacing-horizontal: 2rem;
}

.container {
  max-width: 62%;
}

@media only screen and (max-width: 1450px) {
  :root {
    --pico-font-size: 115%;
  }

  .container {
    max-width: 80%;
  }
}

@media only screen and (max-width: 1000px) {
  :root {
    --pico-font-size: 110%;
  }

  .container {
    max-width: 90%;
  }
}

@media only screen and (max-width: 650px) {
  :root {
    --pico-font-size: 100%;
    --pico-block-spacing-horizontal: 1.5rem;
  }
}

@media only screen and (max-width: 500px) {
  .container {
    max-width: 95%;
  }

  article {
    margin-left: calc(-0.9 * var(--pico-spacing));
    margin-right: calc(-0.9 * var(--pico-spacing));
  }
}

@media only screen and (max-width: 400px) {
  :root {
    --pico-font-size: 93%;
    --pico-block-spacing-vertical: 2rem;
    --pico-block-spacing-horizontal: 1.1rem;
  }
}

p {
  font-size: 105%;
}

.blog-info-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  height: fit-content;
  margin-top: 1.1rem;
  margin-bottom: 3rem;

  color: inherit;
  text-decoration: none !important;
}

.blog-info-container:hover {
  color: inherit;
  text-decoration: none !important;
  cursor: pointer;
}

.blog-icon {
  height: 4rem;
  aspect-ratio: 1/1;
  margin-right: 0.9rem;
}

.blog-name {
  --pico-font-family: ElMessiri-Bold, system-ui, sans-serif;
  --pico-font-size: 1.65rem;
  margin-bottom: 0.3rem;
}

.blog-desc {
  --pico-font-family: ElMessiri-SemiBold, system-ui, sans-serif;
  --pico-font-size: 1.2rem;
  margin-bottom: 0.0rem;
}

.pass-click {
  pointer-events: none;
}

@media only screen and (max-width: 520px) {
  .blog-icon {
    height: 2.9rem;
    margin-right: 0.7rem;
  }

  .blog-name {
    --pico-font-size: 1.5rem;
    margin-bottom: 0.2rem;
  }

  .blog-desc {
    --pico-font-size: 1rem;
  }
}

@media only screen and (max-width: 342px) {
  .blog-name {
    --pico-font-size: 1.4rem;
    margin-bottom: 0.2rem;
  }

  .blog-desc {
    --pico-font-size: 0.9rem;
  }
}

.article-title {
  margin-bottom: 0.6rem;
}

.small-detail {
  font-size: 85%;
  font-weight: lighter;
}

footer {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.social-link {
  display: inline-block;
  margin-left: 0.75rem;
}

.social-icon {
  height: 1.8rem;
  aspect-ratio: 1/1;
}

.social-icon-long {
  height: 1.8rem;
  width: auto;
}

code {
  --pico-line-height: 1.2;
  line-height: 1.2;
}

p+img {
  margin-bottom: var(--pico-typography-spacing-vertical);
}

.article-nav-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin-top: 4rem;

  background-color: rgba(0, 0, 0, .13);
  padding: 1rem 1.7rem 1rem 1.7rem;
  border-radius: 10rem;
}

.prev-article-link {
  margin-right: 0.4rem;
  text-decoration: none !important;
  transition: color 0.15s;
  color: #25DDDD;
}

.prev-article-link:hover {
  text-decoration: none !important;
  color: #58FAF9;
  cursor: pointer;
}

.next-article-link {
  margin-left: 0.4rem;
  text-decoration: none !important;
  transition: color 0.15s;
  color: #25DDDD;
}

.next-article-link:hover {
  text-decoration: none !important;
  color: #58FAF9;
  cursor: pointer;
}

.link-no-underline {
  text-decoration: none !important;
}

.link-no-underline:hover {
  text-decoration: none !important;
}

.link-no-color {
  color: inherit;
  text-decoration-color: inherit;
}

.link-no-color:hover {
  color: inherit;
  text-decoration-color: inherit;
}